<ng-container *ngIf="isLoading">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</ng-container>
<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <i class="icon-2x text-dark-50 flaticon-file-1 mx-2"></i> Editar Categoría {{ categoria_selected.name }}
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>
        <form action="#" class="form form-label-right" >
            <div class="form-group row">
                <!-- NOMBRE -->
                <div class="col-12">
                    <label class="form-label">Nombre de categoría: <span class="text-danger"> *</span></label>
                    <input  type="text"
                        class="form-control form-control-solid form-control-lg h-auto px-6 rounded-lg"
                        name="name"
                        placeholder="Ingrese Nombre"
                        autocomplete="off"
                        [(ngModel)]="name">                               
                </div>                
                <!-- ICONO -->
                <div class="col-12 mt-6">
                    <label class="form-label">Icono de categoría: <span class="text-danger"> *</span></label>
                    <input  type="text"
                        class="form-control form-control-solid form-control-lg h-auto px-6 rounded-lg"
                        name="icono"
                        placeholder="flaticon-file-1"
                        autocomplete="off"
                        [(ngModel)]="icono">                               
                </div>
                <!-- IMAGEN -->
                <div class="col-12 mt-6">
                    <label class="form-label">Subir imagen: <span class="text-danger"> *</span></label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile"  accept=".jpeg, .bmp, .jpg, .png, .gif, .webp"  (change)="processFile($event)">
                        <label class="custom-file-label" for="customFile">Elija Imagen</label>
                    </div>
                </div>
                <!-- PREVIEW -->
                <div class="col-12 mt-6" *ngIf="image_preview">
                    <img [src]="image_preview" class="w-100" alt="Preview">
                    <span class="form-text text-muted mt-4">Nombre Imagen: foto_perfil.jpg</span>
                    <span class="form-text text-muted">Peso: 2 MB</span>
                    <span class="form-text text-muted">Formato: JPG</span>                    
                </div>                
            </div>            
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-elevate mr-2" (click)="editar()">
            Actualizar
        </button>
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">
            Cancel
        </button>
    </div>
</div>
